
body {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
/*	-webkit-user-select: none;*/
	background: #0071b9;
	font-size: 15px;
	width:560px;
	padding:0px;
	margin:40px;
}


.whiteTextArea {

	border-radius: 30px;
	padding:40px;
	text-align:left;
	background-color:white;
	color:#707173;
	border:20px;
	width:480px;
	font-family: helvetica;
	font-size:28px;

}

.testingInfo {

	
	color:#ffffff;
	width:400px;
	font-family: helvetica;
	font-size:20px;
}


.greyTextArea {

	border-radius: 30px;
	padding:40px;
	text-align:left;
	background-color:#dddddd;
	color:#707173;
	border:20px;
	width:400px;
	font-family: helvetica;
	font-size:28px;
	margin-bottom:10px;
}


.option {

	border-radius: 15px;
	padding:30px;
	text-align:left;
	background-color:#dddddd;
	color:#707173;
	border:20px;
	width:420px;
	font-family: helvetica;
	font-size:35px;
	margin-bottom:10px;

}

.optionselected {

	border-radius: 15px;
	display:none;
	padding:30px;
	text-align:left;
	background-color:#ffffff;
	color:#707173;
	border:20px;
	width:420px;
	font-family: helvetica;
	font-size:35px;
	margin-bottom:10px;

}

.optionsdisabled {

	border-radius: 15px;
	padding:30px;
	text-align:left;
	background-color:#ffffff;
	color:#707173;
	border:20px;
	width:420px;
	font-family: helvetica;
	font-size:35px;
	margin-bottom:10px;

}

.option a {

	color:#707173;
	
}

.dosing {
	
	padding-top:10px;
	font-size:19px;
	
}

.title {

	width:100%;
	text-align:center;
	color:#0071b9;
	padding-bottom:10px;
	font-family: helvetica;
	font-size:44px;
	font-weight:bold;
}

.time {

	width:100%;
	text-align:center;
	color:#0071b9;
	padding-bottom:10px;
	font-family: helvetica;
	font-size:44px;
	font-weight:bold;
}

.date {

	width:100%;
	text-align:center;
	color:#0071b9;
	padding-bottom:10px;
	font-family: helvetica;
	font-size:30px;
	font-weight:lighter;
}

.appName {

	width:100%;
	text-align:left;
	color:#0071b9;
	padding:5px;
	padding-bottom:0px;
	font-family: helvetica;
	font-size:66px;
	font-weight:lighter;
}

.patientName {

	width:100%;
	text-align:right;
	color:#0071b9;
	padding:5px;
	padding-top:0px;
	font-family: helvetica;
	font-size:66px;
	font-weight:bold;
}



.additionalMaterial {

	heigth:130px;
	
}

.imageOnTheRight {
	
	border:10px;
	width:460px;
	height:460px;
	border-radius: 10px;
	background-size: 100%;

}

.imageOnTheRightSmall {
	
	border:10px;
	width:380px;
	height:380px;
	border-radius: 6px;
	background-size: 100%;

}

.face {
	
	margin:10px;
	width:161px;
	height:159px;
	float:right;
}

.smallFace {
	
	margin:10px;
	width:120px;
	float:right;
}


.imageTextOnTheLeft {
	
	border-right:20px;
	clear:both;
}


.pasiArea {
	
	width:100%;
	text-align:center;
	line-height:80px;
	vertical-align:middle;
	color:#0071b9;
	font-family: HelveticaNeue-Light;
	font-size:44px;
	font-weight:bold;
	height:80px;
	background:url(pasibkg.png) no-repeat center;
	
}


.whiteTextArea a {
	
	text-decoration:none;
}


