@font-face {
    font-family: 'Futura Std';
    src: url('../fonts/FuturaStd-Medium.woff2') format('woff2'),
        url('../fonts/FuturaStd-Medium.woff') format('woff'),
        url('../fonts/FuturaStd-Medium.ttf') format('truetype'),
        url('../fonts/FuturaStd-Medium.svg#FuturaStd-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Futura Std';
    src: url('../fonts/FuturaStd-Heavy.woff2') format('woff2'),
        url('../fonts/FuturaStd-Heavy.woff') format('woff'),
        url('../fonts/FuturaStd-Heavy.ttf') format('truetype'),
        url('../fonts/FuturaStd-Heavy.svg#FuturaStd-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}
body, p{margin:0;}
p{line-height: 1.35; font-size: 15px;}
ol{padding-left:0px;}
hr{margin-bottom: 15px; border:0; height:1px;}
button, button:focus, button:active{-webkit-appearance: none; outline: none; border: 0; background-color: transparent; -webkit-tap-highlight-color: transparent;}
input{-webkit-appearance: none; border-radius: 0; border:1px solid #878787;}
*{
    box-sizing: border-box; 
    position: relative;  
    margin:0; 
    background-repeat: no-repeat;
    -webkit-touch-callout: none; 
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}
.font-futura-medium{font-family: 'Futura Std'; font-weight: 500;}
.font-futura-heavy{font-family: 'Futura Std'; font-weight: 900;}
.img-responsive{max-width: 100%; height:auto; width:auto;}
.color-grey{color: #5a5a5a;}
.color-blue{color: #0072AE;}
.bg-blue{background-color: #0072AE;}
.color-white{color: #FFF;}
.color-black{color: #000;}
.bg-white{background-color: #FFF;}
.light{font-weight: 300;}
.normal{font-weight: normal;}
.bold{font-weight: bold;}
.float-left{float:left;}
.float-right{float: right;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.d-block{display: block;}
.d-table{display: table;}
#refresh-btn{background-color: transparent; width:45px; height:45px; position: fixed; top:5px; right:5px; z-index: 9999;}
#conn-status{background-color: red; width:3px; height:3px; position: fixed; top:1px; right:1px; z-index: 999; border-radius: 3px;}
.screen-section{background-color:#FFF; display: none; z-index: 10; position: relative; min-height: 100%;}
.screen-section.internal{
    background-image: url("../img/bg-internal.png");
    background-size: 100% auto;
    background-position: top center;
    background-color: #FFF;
}
.clear{clear: both;}

.btn-circle{
    background-image: url("../img/bg-btn.png");
    background-position: center;
    background-size: contain;
    font-size: 15px;
    display: block;
    padding:0 11px;
    line-height: 60px;
    text-align: center;
    font-family: "Futura Std";
    font-weight: 500;
}

/************************ INTERNAL SECTION *******************/
.back-btn{
    background-image: url("../img/back-btn.png");
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
    display: block;
    z-index: 20;
}
.logo-header{
    max-width: 150px;
    float:right;
    z-index:11;
    margin-top:25px;
    margin-bottom: 10px;
    margin-right:15px;
}
.section-title{
    font-size:18px; 
    padding-left:53px; 
    padding-top:20px; 
    background-repeat: no-repeat; 
    background-position: left bottom; 
    background-size: contain;
    margin-bottom: 10px;
}
.btn-internal{padding:10px; text-decoration: none; font-size: 15px;}
.box-tab{border-bottom: 2px solid #ccc; display: table; width: 100%; margin-top:5px; margin-bottom: 10px;}
.box-tab .single-tab{float:left; width:50%; padding: 15px; font-size: 15px; color:#CCC;}
.img-tab{display: none;}
.img-tab.active{display: block;}
#btn_tab_1{border-right: 2px solid #CCC;}
#btn_tab_1.active{color: #007fb6; }
#btn_tab_2.active{color: #fbb90b;}
.row-faculty{margin-bottom:10px;}
.row-faculty p{font-size: 15px;}
.row-faculty span{font-size: 12px;}
.logo-action-razionale{font-size: 20px; }
#razionale .content-internal p{margin-bottom: 15px;}
#askpresentation{
    display: none;
    margin-top:30px;
}
.btn-presentazioni{width:100%;}
#emailtosave{padding: 11px 12px; outline: none; min-width: 238px; line-height: 18px;}
#infopres{margin-bottom: 10px;}
#btnSendRequestPresentation{padding: 12px 12px; font-size: 13px; line-height: 18px;}
#thanksforrequest{display: none;}
#testoprivacy{margin-top: 10px;}
#testoprivacy p{font-size: 11px;}
#choose-room .room{display: block; width: 100%; padding:12px 24px; font-size: 18px; margin-bottom:20px;}
#choose-room .content-internal{padding-top:140px;}
#choose-room p{margin-bottom: 40px; font-size: 18px;}
.change-room{
    width:18px;
    height: 18px;
    position: fixed;
    z-index: 99;
    right:5px;
    bottom:3px;
}
.screen-section header{
    padding: 8px;
}
.screen-section footer{
    position: fixed;
    left:0; right:0; bottom:0;
    background-image: url("../img/bg-nav-bottom.jpg");
    background-size: cover;
    background-position: center;
    padding: 8px;
    text-align: right;
}
.screen-section footer>button{
    padding-top: 40px;
    font-size: 10px;
    text-align: center;
    background-size: 35px auto;
    background-position: top center;
}
.screen-section header .btn-home{
    background-image: url("../img/logo-home.png");
    background-size: contain; 
    background-position: center;
    width: 50px;
    height: 50px;
}
.screen-section header p{
    line-height: 50px;
    font-size: 16px;
    margin-right: 5px;
}
.screen-section footer .btn-home{
    background-image: url("../img/icons/home-btn.png");
}

/***********************INTRO SECTION******************/
#intro{
    background-image: url("../img/bg-intro.jpg");
    background-size: cover;
    background-position: center;
    display: block; 
    padding:20px;
}
.logo-intro{
    max-width:125px;
    display: inline-block;
}
.date-intro{
    max-width: 140px;
    display: inline-block;
    margin-left:10px;
}
.box-intro{
    background-color: rgba(255, 255, 255, 0.9);
    padding:15px;
    margin-top:20px;
}
#btn-be-maven{padding: 8px 50px 8px 0; background-image: url("../img/be-maven-bg.png"); background-size: contain; background-position: right center;}

/************************HOME SECTION *****************/
#home{
    position: fixed; 
    z-index: 9; 
    top:0; left:0; right:0; bottom: 0; 
    display: block; 
    background-image: url("../img/bg-home.jpg");
    background-size: cover;
    background-position: center;
}
.box-btn-home{padding-top:10px;}
.box-btn-home button{
    padding-top: 85px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 75px auto;
    float:left;
    width: 104px;
    margin: 0 1px 20px;
    font-size: 10px;
}
.box-btn-home button span{
    min-height: 40px;
    display: block;
    padding:8px 8px 6px;
}
.box-btn-home button span:after{
    content: "";
    background-color: #0072AE;
    position: absolute;
    top:-2px;left:-2px;right:-2px; bottom:0px;
    transform: rotateZ(-6deg);
    -ms-transform: rotateZ(-6deg);
    -webkit-transform: rotateZ(-6deg);
    -moz-transform: rotateZ(-6deg);
    z-index: -1;
}
#btn-programma{background-image: url("../img/icons/btn-programma.png");}
#btn-faculty{background-image: url("../img/icons/btn-faculty.png");}
#btn-materiali{background-image: url("../img/icons/btn-materiali.png");}
#btn-informazioni{background-image: url("../img/icons/btn-informazioni.png");}
#btn-qa{background-image: url("../img/icons/btn-qa.png");}
#btn-survey{background-image: url("../img/icons/btn-survey.png");}
.box-yellow{height: 25px; width: 100%; position: absolute; bottom:0;}
.logo-home{max-width: 90px; margin:15px auto 10px; display: block;}
.logo-merck{position: absolute; bottom:0; right:0; width:55%;}

/*******************INFO SECTION **************************/


/*********************TWITTER SECTION ************************/
.content-text-area{
    padding-left: 65px;
    padding-right: 5px;
    padding-top: 30px;
    background-image: url("../img/qa-bg-textarea.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top left;
}
#twitter textarea{
    width:100%; 
    outline: 0; 
    padding: 12px; 
    margin:0; 
    height:200px; 
    font-size: 14px; 
    border:1px solid #9e9e9e; 
    border-radius: 5px;
    margin-bottom: 10px;
}
.btn-twitter{width:100%; padding: 10px 0px 10px 38px; text-align:left;}
.btn-answer{width:100%; padding: 10px 0px 10px 38px; text-align:center; max-width: 220px; margin:auto; display: block;}
.btn-twitter span, .btn-answer span{
    background-image: url("../img/submit-btn-twitter.png");
    background-repeat: no-repeat;
    background-size: 27px auto;
    background-position: center;
    padding:10px;
    position: absolute;
    right:0;top:0; bottom:0;
    padding:10px 16px;
}

#twitter .btn-container{width: 100%;}
#btnAddTweet{
    display: none; 
    width:44px; 
    height:44px; 
    line-height: 44px; 
    font-size: 20px; 
    position: fixed; 
    z-index: 99; 
    right:20px;
    bottom: 20px; 
    text-align: center; 
    border-radius: 100%;
    box-shadow: 1px 2px 1px rgba(0,0,0,0.2);
}
#tweetsList{display: none;}
#tweetsList .tweet{background-color: #eeeeee; font-size: 16px; padding:15px 20px; margin-bottom: 5px;}

/*********************QUESTION SECTION ************************/
#question{min-height: 100%; }
#question .content-internal{padding-left: 20px; padding-right:20px;}
#question h1{font-size:17px; margin-bottom: 5px; padding-top:5px;}
.question-box{padding:10px 0px 15px; min-height: 230px;}
.question-box .question-caso-clinico span{font-size: 11px; line-height: 16px;}
.question-box hr{width:80px; margin: 8px 0 7px 5px;}
.question-box ol{counter-reset: element; list-style: none; margin-top:20px;}
.question-box li{counter-increment: element; margin-bottom: 15px; display:block; min-height: 46px; width:100%;}
.question-box li:before{
    color: #FFF; 
    content: counter(element); 
    position: absolute;
    left: 0; 
    font-size: 24px; 
    line-height: 28px;
    font-family: "Avenir";
    font-weight: 900;
    border: 3px solid #001a52;
    color: #001a52;
    width: 28px;
    text-align: center;
}
.question-box li.choose:before{
    background-color: #001a52;
    color: #FFF;
}
.question-box li p{counter-increment: li; margin-bottom: 15px; padding-left: 53px; padding-top: 2px;}

#send-answer-btn{-webkit-appearance: none; width:100%; border:0; outline: none; font-size: 15px; padding: 16px; margin-bottom: 0;}
#send-answer-btn.disabled{pointer-events: none; background-color: #878787;}
hr.bg-pink{border:0; height:1px; display: block; margin:auto; max-width: 290px;}
.thankyou-box{
    display: none;
    position: fixed;
    top: 0; left: 0; bottom: 0; right:0;
    z-index: 99;
    text-align: center;
    font-size: 20px;
    padding:30px;
    background-image:url("../img/bg-thankyou.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
.thankyou-box img{
    margin: auto;
    max-width: 100px;
    display: block;
    margin-top: 60px;
}
.thankyou-box p{
    font-size: 19px;
    margin-top: 30px;
}
.question-duello{margin-top:30px;}
#slider-answer{
    min-height: 65px; 
    background-image: url("../img/bg-slider.png"); 
    background-size: contain; 
    background-repeat: no-repeat;
    padding-left:24px;
    padding-right: 33px;
}
.ui-slider-handle{
    background-image: url("../img/btn-slider.png"); 
    background-size:contain; 
    background-repeat: no-repeat; 
    width:50px; height:50px; 
    display: block;
    position: relative;
    margin-left:-25px;
    top: 5px;
    outline:none;
}
.answer-circle-container{
    min-height: 54px;
    position: relative;
    margin-top: 10px;
}
.circle-answer{
    width: 54px;
    height: 54px;
    text-align: center;
    position: absolute;
    border-radius: 27px;
    box-shadow: 1px 2px 1px rgba(0,0,0,0.15);
    opacity: 0.6;
    transition: all 0.15s ease-in-out;
}
.circle-answer.active{
    opacity: 1;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.3);
}
.circle-answer.bg-cyano{
    left:0;
}
.circle-answer.bg-grey{
    left: 50%;
    margin-left: -27px;
}
.circle-answer.bg-yellow{
    right:0;
}
.circle-answer span{
    font-size: 26px;
    line-height: 54px;
}
/***********************POP UP SESSION*****************/
#popup-session{
    background-color: rgba(0,0,0,0.85);
    padding:7px;
    display: none;
    padding-top: 163px;
}
.box-popup{
    padding: 20px 10px;
    display: table;
    width:100%;
}
.box-popup:before{
    content: "";
    background-image: url("../img/bg-popup.png");
    background-size: auto 100%;
    top:-2px;
    left:-2px;
    right:-2px;
    bottom:-2px;
    position: absolute;
    z-index: -1;
}
.box-popup p{
    margin-bottom: 10px;
}
#popup-session .btn-circle{
    float: right;
}

.box-stars span{
    background-image: url("../img/star-disactive.png");
    width: 36px;
    height: 36px;
    background-size: contain;
    background-position: center;
    float: left; 
    margin-right: 5px;
}
.box-stars span.active{
    background-image: url("../img/star-active.png");
}
.box-stars{
    display: table;
    float:left;
    padding: 12px 0;
}