.center {
	text-align:center;
}

ol {
	padding:10px;
	margin:0;
}

caption {
	padding:4px;
}

/* Common */

#content {
	margin-right:auto;
	margin-left:auto;
	width:1000px;
}

.login {
	margin-left:auto;
	margin-right:auto;
}

.login > div {
	width:360px !important;
}

#content {
	width:960px;
	position:relative;
	zoom:1;
}

.date td a {
	display:inline-block;
	padding:3px 8px;
}

.date th, .date td {
	text-align:center;
	padding:3px;
}

/* Box */

.box {
	font-size:13px;
	margin:0 0 5px 0;
	position:relative;
	border:1px solid;
}

.box h2, .box p, .box table {
	margin:0;
}

.box h2 {
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	padding:2px 5px;
	cursor:move;
}

.utils {
	position:absolute;
	top:5px;
	right:10px;
	border:1px solid;
	padding:4px 8px;
}

.box p {
	padding:10px;
}
#history.box{color:#901830}

/* Typography */

label, #navigation, .error, .success, input[type="submit"], input[type="reset"]  {
	font-weight:bold;
}

h1, h2, h3, h4, h5, h6 {
	border-bottom:1px solid;
}

a:hover {
	text-decoration:none;
}

a.edit, a.delete, a.invia {
	padding-left:25px;
	background-repeat:no-repeat;
	background-position:left center;

}
a {
	padding:4px;
}

/* Table styling */

table {
	width:100%;
}

th, td {
	padding:7px 15px;
	text-align:left;
}

/* Header */

#head {
	-moz-border-radius-topright:10px;
	-moz-border-radius-topleft:10px;
	border:0;
	margin:1px auto 0 auto;
	padding:0px 30px;
	width:940px;
}

/* Nagivation */

#navigation {
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	margin:0 auto 10px auto;
	padding:4px 30px;
	width:940px;
}

#navigation > li {
	display:inline;
	margin:0
}

#navigation > li > a, #navigation > li > span {
	display:inline-block;
	padding:5px 10px;
	text-decoration:none;
}

/* Content */

#content {
	padding:5px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomright: 10px;
}

#foot {
	padding:5px 30px;
	width:940px;
	margin:10px auto;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomleft: 10px;
}

.curved, #navigation a, #navigation span, .error, .success, .notice, .box, .utils a {
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-topleft:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-top-left-radius:5px;
}
.history {
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-topleft:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-top-left-radius:5px;
}
.curved-alt, input, textarea, select, .box, .date td a, .utils a  {
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-topleft:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-top-left-radius:5px;
}
/* Forms */
label {
	display:block;
	font-size:17px;
	margin:0 0 5px;
	position:relative;
}
small {
	font-size:12px;
	font-weight:normal;
	padding-left:10px;
}
input, textarea, select{
	border:1px solid;
	font-family:inherit;
	font-size:inherit;
	padding:4px;
}
select {
	padding-top:3px;
	padding-bottom:3px;
}
input[type="submit"], input[type="reset"] {
	cursor:pointer;
	width:auto !important;
	padding:5px;
}
/* Error and Success messages */
.error, .success, .notice, .history {
	padding:4px 8px;
}
/* Pagination */
.pagination {
	text-align:right;
}
.pagination a, .pagination span {
	display:inline-block;
	margin:0 2px;
	padding:2px 6px;
}
.bubble-left {
	float:left;
	width:10px;
	height:29px;
	margin-left: 0px;
	background: url(bubble_left.gif) no-repeat;
}
.bubble-inner {
	float:left;
	padding: 7px 0px 0 2px;
	color:#2e74b2; 
	line-height: 14px;
	font-size: 11px;
	height:22px;
	background: url(bubble_inner.gif) repeat-x;
}
.bubble-right {
	float:left;
	width:8px;
	height:29px;
	background: url(bubble_right.gif) right no-repeat;
}
.table-header-repeat	{
	background: url(table_header_repeat.jpg) repeat-x;
	border: none;
}
.table-header-options a,
 .table-header-repeat a	{
	
	color: #fff;
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	line-height: 14px;
	margin: 0 0 0 10px;
	padding: 0 10px 0 0;
	}
	
.table-header-options a:hover,
.table-header-repeat a:hover	{
	
	color:#94b52c
	}
	
th.line-left	{
	border-left: 1px solid #373737;
	}


a.icon-1	{
	background: url(table_icon_1.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
	}
a:hover.icon-1	{
	background: url(table_icon_1.gif) 0 -24px;
	}
a.icon-2	{
	background: url(table_icon_2.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
	}
a:hover.icon-2	{
	background: url(table_icon_2.gif) 0 -24px;
	}
a.icon-3	{
	background: url(table_icon_3.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
	}
a:hover.icon-3	{
	background: url(table_icon_3.gif) 0 -24px;
	}
a.icon-4	{
	background: url(table_icon_4.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	width: 24px;
	}
a:hover.icon-4	{
	background: url(table_icon_4.gif) 0 -24px;
	}
a.icon-5	{
	background: url(table_icon_5.gif) no-repeat;
	display: block;
	float: left;
	height: 24px;
	width: 24px;
	}
a:hover.icon-5	{
	background: url(table_icon_5.gif) 0 -24px;
	}
tr.alternate-row td{
	background:none;
	background: #ECECEC;
}

/*  ACTIONS BOX ----------------------------------------------- */	
#actions-box	{
	float: left;
	margin: 0 0 0 10px;
	position: relative;
	}
a.action-slider	{
	background: url(../images/table/dropdown_actions.gif) no-repeat;
	display: block;
	height: 30px;
	width: 110px;
	}
a.action-slider.activated	{
	background: url(../images/table/dropdown_actions.gif) no-repeat 0 -30px;
	display: block;
	height: 30px;
	width: 110px;
	}
#actions-box-slider	{
	background: url(../images/table/actions_slider_bg.gif) bottom no-repeat;
	display: none;
	left: 0;
	padding-bottom: 1px;
	padding-top: 10px;
	position: absolute;
	top: 24px;
	width: 110px;
	}
#actions-box-slider-inner	{
	font-size: 0px;
	line-height: 0;
	margin: 0 auto;
	width: 108px;
	}
a.action-edit ,
a.action-delete	{
	color: #272727;
	display: block;
	font-weight: bold;
	height: 20px;
	margin: 0 auto;
	padding: 10px 0 5px 45px;
	width: 63px;
	}
a:hover.action-edit	{
	background: #949494 url(../images/table/action_edit.gif) no-repeat 14px 5px;
	color: #fff;
	}
a.action-edit	{
	background: #c7c7c7 url(../images/table/action_edit.gif) no-repeat 14px 5px;
	}
a.action-delete	{
	background: #c7c7c7 url(../images/table/action_delete.gif) no-repeat 14px 5px;
	}
a:hover.action-delete	{
	background: #949494 url(../images/table/action_delete.gif) no-repeat 14px 5px;
	color: #fff;
	}
		 
	